.movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    justify-content: center;
    align-content: start;
    max-width: 1200px;
    margin: 50px auto;
  }
  .movie-card {
    background-color: #f372aa;
    width: 100%;
    height: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-self: center;
  }
  .mdc-card__media {
    height: 300px;
    max-width: 90%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }
  mat-card-header {
    font-family: Arsenal;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
  }
  mat-card-actions {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  mat-icon {
    color: #ed2121;
  }