<div class="main-page">
  <h1>Welcome to CinemaExpress</h1>
  <!-- Show Log In button only if not logged in -->
  <button *ngIf="!isLoggedIn" mat-raised-button (click)="openUserLoginDialog()" color="accent"> Log In </button>
  <!-- Show Sign Up button before registration, Link after registration -->
  <ng-container *ngIf="!isLoggedIn">
    <ng-container *ngIf="isRegistered; else signupButton">
      <a (click)="openUserRegistrationDialog()" class="signup-link">Sign Up</a>
    </ng-container>
    <ng-template #signupButton>
      <button mat-raised-button (click)="openUserRegistrationDialog()" color="primary"> Sign Up </button>
    </ng-template>
  </ng-container>
  <!-- Show Logout button when logged in -->
  <button *ngIf="isLoggedIn" mat-raised-button (click)="logout()" color="warn"> Logout </button>
</div>
<router-outlet></router-outlet>