<mat-card class="registration-card">
    <mat-card-header>
        <mat-card-title>Sign up!</mat-card-title>
        <button mat-icon-button (click)="closeDialog()" class="close-button">✖</button>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="userData.Username" name="username" placeholder="Enter your username"
                    required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]="userData.Password" name="password" type="password"
                    placeholder="Enter your password" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="userData.Email" name="email" type="email" placeholder="Enter your email"
                    required>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Birthday (optional)</mat-label>
                <input matInput [(ngModel)]="userData.Birthday" name="birthday" type="date"
                    placeholder="Select your birthday">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button (click)="registerUser()" color="primary">Sign Up</button>
    </mat-card-actions>
</mat-card>