@use "@angular/material" as mat;

// Enable Dark Mode
html {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        primary: mat.$spring-green-palette,
        theme-type: dark,
      ),
      typography: (
        plain-family: Libre Franklin,
        brand-family: Arsenal SC,
      ),
      density: 0,
    )
  );
}

// Typography & Global Styles
body {
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
.list_label {
  font-family: "Arsenal SC", sans-serif;
  text-transform: uppercase;
}

h2 {
  margin: 50px 0;
}

// Branding & Logo
.logo {
  margin: 0 auto;
  text-transform: uppercase;
  text-shadow: 6px 6px 0 #000;
  font-size: 24px;
  color: #fff;

  span {
    color:  #ff96c4;
  }
}
.main-page .logo {
  display: block;
  font-size: 40px;
}
// Tabs & Forms
.tab-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.tab-content {
  padding: 0 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

// Descriptions & Clickables
.descr {
  line-height: 1.8;
  p {
    padding: 20px 0;
  }
}
.space {
  line-height: 200%;
}
.clickable {
  cursor: pointer;
  color: var(--mat-sys-inverse-primary);

  &:hover {
    opacity: .5;
  }
}

// Listbox Styling
.listbox-container {
  text-align: center;
}

.listbox {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
}

.list_label {
  font-weight: bold;
  padding-bottom: 10px;
  display: block;
}

// Overlay & Backdrop Customization
.cdk-overlay-dark-backdrop,
.mat-drawer-transition .mat-drawer-backdrop {
  background: rgba(2, 2, 2, 0.9);
}

// Buttons & Icons
mat-form-field:focus-within mat-icon {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}
.mat-icon {
  font-size: 20px;
}
body .sad_btn {
  font-size: 50px;
  height: 50px;
  width: 50px;
  color: #ed2121;
}

.tab-icon {
  margin-right: 5px;
}

button.btn-icon {
  margin-left: 5px;
}
body .profile .delete-button {
  margin-top: 20px;
  border-color: #ed2121;
  color: #ed2121;
}
.delete-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    color 0.2s ease;
  margin-left: auto;

  mat-icon {
    color: #ed2121;
  }

  &:hover {
    transform: scale(2.2);
    color: #ed2121;
  }
}