<div class="tab-container">
    <mat-tab-group [attr.aria-label]="'User Profile Tabs'" animationDuration="1000ms">
        <mat-tab>
            <ng-template mat-tab-label>
                <span>Profile</span>
            </ng-template>
            <div class="tab-content profile">
                <h2>Profile Information</h2>
                <form (ngSubmit)="updateUserProfile()" [attr.aria-label]="'User profile form'">
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput [(ngModel)]="updatedUser.Username" name="username"
                            [attr.aria-label]="'Username input'" placeholder="{{ user.Username }}">
                        <mat-icon matSuffix aria-hidden="true">mode_edit</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [(ngModel)]="updatedUser.Email" name="email"
                            [attr.aria-label]="'Email input'" placeholder="{{ user.Email }}">
                        <mat-icon matSuffix aria-hidden="true">mode_edit</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="updatedUser.Password"
                            [attr.aria-label]="'Password input'" name="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon aria-hidden="true">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Birthday</mat-label>
                        <input matInput [(ngModel)]="updatedUser.Birthday" name="birthday" type="date"
                            [attr.aria-label]="'Birthday input'" placeholder="Select your birthday">
                        <mat-icon matSuffix aria-hidden="true">mode_edit</mat-icon>
                    </mat-form-field>
                    <button mat-flat-button color="primary" type="submit" [attr.aria-label]="'Update Profile input'">
                        Update Profile <mat-icon class="btn-icon" aria-hidden="true">update</mat-icon>
                    </button>
                </form>
                <button mat-stroked-button [attr.aria-label]="'Delete Account'" class="delete-button"
                    (click)="deleteAccount()"> Delete Account <mat-icon class="btn-icon"
                        aria-hidden="true">delete</mat-icon>
                </button>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span>Favorite Movies</span>
            </ng-template>
            <div class="tab-content">
                <h2>Your Favorite Movies</h2>
                <ul *ngIf="FavoriteMovies.length > 0; else noFavorites" class="listbox" cdkListbox
                    [attr.aria-label]="'Favorite Movies List'">
                    <li *ngFor="let movie of FavoriteMovies">
                        <a class="clickable" (click)="openMovie(movie.movieID)" style="cursor:pointer;"
                            [attr.aria-label]="'Open details for ' + movie.Title">
                            {{ movie }}
                        </a>
                        <span class="delete-icon clickable" (click)="removeFromFavorites(movie.movieID)"
                            [attr.aria-label]="'Remove ' + movie.Title + ' from favorites'">
                            <mat-icon aria-hidden="true">delete</mat-icon>
                        </span>
                    </li>
                </ul>
                <ng-template #noFavorites>
                    <mat-icon class="sad_btn" aria-hidden="true">sentiment_very_dissatisfied</mat-icon>
                    <p class="space">You have no favorite movies.<br>Look for some <button routerLink="/movies"
                            class="home_btn" mat-raised-button [attr.aria-label]="'Go to movies home'">
                            <mat-icon aria-hidden="true">home</mat-icon> HERE </button>
                    </p>
                </ng-template>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
